<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446589104698-779q1t4sght9akffsomaub8rut3skl4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446589104698-779q1t4sght9akffsomaub8rut3skl4r</string>
	<key>API_KEY</key>
	<string>AIzaSyC6GAdd5I0oaK3ahdjTfRjj6NHPcvfWB4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>446589104698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sparcs.otlplus</string>
	<key>PROJECT_ID</key>
	<string>otl-plus-app</string>
	<key>STORAGE_BUCKET</key>
	<string>otl-plus-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446589104698:ios:3c3b9fad7dcbcbb830bb03</string>
</dict>
</plist>